In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)

In [5]:
df1=pd.read_csv("MagicBricks.csv")
df1.head()

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,area_type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0

In [6]:
df1.shape

(1259, 11)

In [7]:
df1.groupby('area_type')['area_type'].agg('count')

area_type
Apartment        593
Builder_Floor    661
Name: area_type, dtype: int64

In [8]:
df2=df1.drop(['area_type','Furnishing','Status'],axis='columns')
            
df2.head()

,Area,BHK,Bathroom,Locality,Parking,Price,Transaction,Per_Sqft
0,800.0,3,2.0,Rohini Sector 25,1.0,6500000,New_Property,NaN
1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",1.0,5000000,New_Property,6667.0
2,950.0,2,2.0,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Resale,6667.0
3,600.0,2,2.0,Rohini Sector 24,1.0,4200000,Resale,6667.0
4,650.0,2,2.0,Rohini Sector 24,1.0,6200000,New_Property,6667.0

In [9]:
df2.isnull().sum()

Area             0
BHK              0
Bathroom         2
Locality         0
Parking         33
Price            0
Transaction      0
Per_Sqft       241
dtype: int64

In [10]:
df3=df2.dropna()
df3.isnull().sum()

Area           0
BHK            0
Bathroom       0
Locality       0
Parking        0
Price          0
Transaction    0
Per_Sqft       0
dtype: int64

In [11]:
df3.Per_Sqft.unique()

array([  6667.,   6154.,   6364.,   8750.,   9722.,  14444.,  22000.,
         2235.,   3800.,   4247.,   3524.,  26666.,  15972., 183333.,
        20000.,  15556.,  16176.,   9259.,  18507.,   7000.,  72000.,
        43000.,   4444.,   3300.,  40000.,   5185.,   4000.,   3567.,
         1259.,   2500.,   5255.,   6528.,   6875.,   5714.,   7449.,
         8125.,   7931.,   5789.,   6471.,   8438.,   6508.,   8000.,
         6000.,   6250.,   6333.,   6714.,  28797.,  23840.,   4600.,
         4620.,   5000.,   6111.,  25512.,  22222.,  24718.,  30556.,
        18750., 120000.,  15459.,  23529.,  16667.,  11111.,  21409.,
        95000.,  15363.,  19259.,  20833.,  20930.,   6526.,   3901.,
         6347.,  41304.,   8701.,   5556.,  85715.,   6944.,   7222.,
        11220.,   5357.,   6706.,  10288.,  28283.,   8923.,   8222.,
        14550.,  30093.,  35714.,  22857.,  12500.,   4040.,   7778.,
        32000.,   5666.,  11667., 112179.,   6584.,   5794.,   7500.,
       160000.,  11556.,   8421.,  27778.,  11722.,  85714.,  13333.,
         8418.,   1667.,   8333.,  24242.,  15500.,  10681.,  21818.,
        14358.,  21071.,  14074.,  28846.,  14705.,  18000.,  17647.,
        18055.,  25000.,  14818.,  23863.,  14722.,  13889.,   7875.,
        10943.,  10700.,  20558.,  17000.,  21052.,  21000.,  16333.,
        18793.,  19811.,  20270.,  17619.,  17197.,  16654.,  19280.,
        17176.,  20581.,  20999.,  21311.,  18900.,  20588.,  20967.,
        18344.,  17906.,  11538.,  15384.,   5222.,   3714.,   5455.,
         4837.,   3444.,   4167.,   4138.,   3294.,   8060.,   4678.,
         3148.,   4200.,   3778.,   2963.,   3667.,   7727.,   5333.,
         4922.,   6556.,   5820.,  42222.,  43137.,   4889.,   4222.,
         5092.,   7143.,   5128.,   3600.,   4571.,   4221.,   6636.,
         4270.,   5143.,   3248.,   5051.,   5176.,  14888.,   7200.,
        21429.,   7666.,   9200.,   8640.,   6486.,  12000.,   9375.,
         5200.,   6700.,   9500.,  10625.,   9655.,  10000.,  16466.,
        30000.,  16917.,  19841.,  10320.,   2778.,  14366.,  14776.,
        14382.,  14092.,  14815.,  16584., 125984.,   8761.,   7290.,
        13324.,  14285.,  12151.,   8889.,  15178.,   5806.,  10838.,
        10556.,  12307.,  15882.,  65714.,  11363.,  13571.,  11923.,
        12272.,  13125.,  13608.,  11905.,   9909.,   7800.,  15278.,
        24166., 170000.,  17677.,  37037.,  20938.,  18333.,   6878.,
        12916.])

In [12]:
len(df3.Locality.unique())

304

In [13]:
df3.Locality=df3.Locality.apply(lambda x: x.strip())
Locality_stats=df3.groupby('Locality')['Locality'].agg('count')
Locality_stats

C:\Users\abc\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Locality
APL Builder Floor, Greater Kailash 1                                                                                                                                                                                                                                                                                                       2
Abhimanyu Apartments, Vasundhara Enclave                                                                                                                                                                                                                                                                                                   1
Abul Fazal Enclave Part 1, Okhla                                                                                                                                                                                                                                                                                                           3
Abul Fazal Enclave Part-II, Okhla                                                                                                                                                                                                                                                                                                          3
Adarsh Homes, Dwarka Mor                                                                                                                                                                                                                                                                                                                   3
                                                                                                                                                                                                                                                                                                                                          ..
Vishwas Nagar, Shahdara                                                                                                                                                                                                                                                                                                                    1
Yamuna Apartment, Alaknanda                                                                                                                                                                                                                                                                                                                2
Yamuna Vihar, Shahdara                                                                                                                                                                                                                                                                                                                    27
Zakir Nagar, New Friends Colony                                                                                                                                                                                                                                                                                                            1
mind. The space is airy, is well located and can be easily customized as per the needs. Prime facilities are easily accessible from this place with Government Girls Senior Secondary School No 2 (0 km ). Other key neighbourhood are B Block Market (0 km ). read more Contact Owner View Phone No. Share Feedback Owner vinod kumar     1
Name: Locality, Length: 303, dtype: int64

In [14]:
df3.head()

,Area,BHK,Bathroom,Locality,Parking,Price,Transaction,Per_Sqft
1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",1.0,5000000,New_Property,6667.0
2,950.0,2,2.0,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Resale,6667.0
3,600.0,2,2.0,Rohini Sector 24,1.0,4200000,Resale,6667.0
4,650.0,2,2.0,Rohini Sector 24,1.0,6200000,New_Property,6667.0
5,1300.0,4,3.0,Rohini Sector 24,1.0,15500000,New_Property,6667.0

In [17]:
dummies=pd.get_dummies(df3.Locality)
dummies.head(3)

,"APL Builder Floor, Greater Kailash 1","Abhimanyu Apartments, Vasundhara Enclave","Abul Fazal Enclave Part 1, Okhla","Abul Fazal Enclave Part-II, Okhla","Adarsh Homes, Dwarka Mor","Ahinsha Vatika, Ram Nagar, Shahdara",Alaknanda,"Amar Colony, Lajpat Nagar","Andheria Mor, Mehrauli","Anekant Apartment, Vasundhara Enclave",...,"Vijay Enclave, Mahavir Enclave","Vijay Vihar, Rohini","Vikram Vihar, Lajpat Nagar","Vinoba Puri, Lajpat Nagar","Virat Residency, Dwarka Mor","Vishwas Nagar, Shahdara","Yamuna Apartment, Alaknanda","Yamuna Vihar, Shahdara","Zakir Nagar, New Friends Colony","mind. The space is airy, is well located and can be easily customized as per the needs. Prime facilities are easily accessible from this place with Government Girls Senior Secondary School No 2 (0 km ). Other key neighbourhood are B Block Market (0 km ). read more Contact Owner View Phone No. Share Feedback Owner vinod kumar"
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df4=pd.concat([df3,dummies],axis='columns')
df4.head()

,Area,BHK,Bathroom,Locality,Parking,Price,Transaction,Per_Sqft,"APL Builder Floor, Greater Kailash 1","Abhimanyu Apartments, Vasundhara Enclave",...,"Vijay Enclave, Mahavir Enclave","Vijay Vihar, Rohini","Vikram Vihar, Lajpat Nagar","Vinoba Puri, Lajpat Nagar","Virat Residency, Dwarka Mor","Vishwas Nagar, Shahdara","Yamuna Apartment, Alaknanda","Yamuna Vihar, Shahdara","Zakir Nagar, New Friends Colony","mind. The space is airy, is well located and can be easily customized as per the needs. Prime facilities are easily accessible from this place with Government Girls Senior Secondary School No 2 (0 km ). Other key neighbourhood are B Block Market (0 km ). read more Contact Owner View Phone No. Share Feedback Owner vinod kumar"
1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",1.0,5000000,New_Property,6667.0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,950.0,2,2.0,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Resale,6667.0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,600.0,2,2.0,Rohini Sector 24,1.0,4200000,Resale,6667.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,650.0,2,2.0,Rohini Sector 24,1.0,6200000,New_Property,6667.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1300.0,4,3.0,Rohini Sector 24,1.0,15500000,New_Property,6667.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
df4.shape

(1005, 311)

In [25]:
x=df4.drop('Price',axis='columns')
x.head()

,Area,BHK,Bathroom,Locality,Parking,Transaction,Per_Sqft,"APL Builder Floor, Greater Kailash 1","Abhimanyu Apartments, Vasundhara Enclave","Abul Fazal Enclave Part 1, Okhla",...,"Vijay Enclave, Mahavir Enclave","Vijay Vihar, Rohini","Vikram Vihar, Lajpat Nagar","Vinoba Puri, Lajpat Nagar","Virat Residency, Dwarka Mor","Vishwas Nagar, Shahdara","Yamuna Apartment, Alaknanda","Yamuna Vihar, Shahdara","Zakir Nagar, New Friends Colony","mind. The space is airy, is well located and can be easily customized as per the needs. Prime facilities are easily accessible from this place with Government Girls Senior Secondary School No 2 (0 km ). Other key neighbourhood are B Block Market (0 km ). read more Contact Owner View Phone No. Share Feedback Owner vinod kumar"
1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",1.0,New_Property,6667.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,950.0,2,2.0,"Citizen Apartment, Rohini Sector 13",1.0,Resale,6667.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,600.0,2,2.0,Rohini Sector 24,1.0,Resale,6667.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,650.0,2,2.0,Rohini Sector 24,1.0,New_Property,6667.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1300.0,4,3.0,Rohini Sector 24,1.0,New_Property,6667.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
y=df4.Price
y.head()

1     5000000
2    15500000
3     4200000
4     6200000
5    15500000
Name: Price, dtype: int64

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [28]:
from sklearn.linear_model import LinearRegression
lr_clf=LinearRegression()
lr_clf.fit(x_train,y_train)
lr_clf.score(x_test,y_test)

ValueError: could not convert string to float: 'The Amaryllis, Karol Bagh'